
@import url('http://fonts.googleapis.com/css?family=Lato');
/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body {
    background-color: #9cb8bf;
    font-family: Lato;
    font-weight: 900;
    color: white;
}

/* hide tumblr bullshit */
.tmblr-iframe{ display: none; }
.tmblr-iframe--controls-phone-container{ margin-top: -43px; }

@media (max-width: 768px) {
      #main-jumbo {
        background-image: url("../img/bostonManorPromo.jpg");
        width: 100%;
        height: 1000px;
        margin-bottom: 0px;
    }
}
.album {
    -webkit-box-shadow: 
        0px 3px 11px -1px rgba(0,0,0,0.3),
        0px -3px 11px -1px rgba(0,0,0,0.3);
    -moz-box-shadow: 
        0px 3px 11px -1px rgba(0,0,0,0.3),
        0px -3px 11px -1px rgba(0,0,0,0.3);
    box-shadow: 
        0px 3px 11px -1px rgba(0,0,0,0.3),
        0px -3px 11px -1px rgba(0,0,0,0.3);
}

.album-title {
    font-size: 80px;
    color: white;
}

.footer {
    margin-top: 200px;
}

.glyphicon-globe {
    font-size: 20px;
    line-height: 80px;
}
.brand {
    margin-top: -5px;
    max-width: 85px;
}
.colour-blind {
    max-width: 300px;
}
.album-promo {
    margin-top: 40px;
    text-align: center;
    float: right;
}

.dates {
    overflow: auto;
}

.dates a {
    color: black;
}
.album {
    max-width: 600px;
}
.new-album {
    color: white;
    margin-top: -20px;
}
.button {
    width: 400px;
    height: 50px;
    padding: auto;
    font-size: 20px;
    color: white;
    background-color: transparent;
    border: 1px solid;
    border-radius: 60px;
    margin: 10px;
    letter-spacing: 2px;
    transition: all .2s ease-in-out;
}


.spotify-button {
    display: inline-block;
    margin: 20px;
    background-color: white;
    padding: 5px;
    padding-right: 280px;
    border-radius: 60px;
    width: 400px;
    max-height: 50px;
    opacity: .7;
    transition: all .2s ease-in-out;
    margin-bottom: -20px;
}

.spotify-button img {
    width: 140px;
    transform: scale(.7);
    margin-left: -15px;
}

.spotify-button:hover {
    opacity: 1;
}
.button:hover {
    color: #9cb8bf;
    background-color: white;
}
.button:focus {
    text-decoration: none;
    outline: 0;
}
.button-wrapper {
    margin-top: 60px;
}
.on-tour {
    color: white;
    font-weight: 900;
    font-size: 80px;
    margin-top: 100px;
}
#myNavbar {
    background-color: white;
            margin-bottom: 0px;

}
#myNavbar a {

    color: #3f3130;
    transition: all .2s ease-in-out;
}
#myNavbar a:hover {
    background-color: #f9f2e8;
}
.navbar-toggle {
    background-color: white;
    color: #5075a6;
}
.navbar-toggle span {
    background-color: #3f3130;
}

.nav li {
    font-weight: bold;
    float: right;
    margin: 10px;
}
.custom > li > a:hover {
    background-color: #9662ad;
}
.nav > li.active > a,
        .nav > li.active > a:hover,
        .nav > li.active > a:focus {
          color: white;
          cursor: #ede51e;
          background-color: #f9f2e8;
          border: transparent;
          border-bottom-color: transparent;

          } 
#myCarousel {
    width:560px;
    height:315px;
    margin: auto;
}
.video-slider {
    text-align: center;
}
.main-banner {
    color: #d79a52;
    height: 900px;
    width: 100%;
    padding: 100px;
    text-align: center;
}
.album-promo {
    color: ;
}
#main-jumbo {
    background: url("../img/bostonManorPromo.jpg") no-repeat bottom center;
    padding: 0px;
    width: 100%;
    height: 1000px;
    margin-top: -75px;
    margin-bottom: 0px;
    background-color: transparent;
    background-position: 0% 20%;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-box-shadow: 
        0px 3px 11px -1px rgba(0,0,0,0.3);
    -moz-box-shadow: 
        0px 3px 11px -1px rgba(0,0,0,0.3);
    box-shadow: 
        0px 3px 11px -1px rgba(0,0,0,0.3);  
}
#promo-jumbo {
    margin-bottom: 50px;
    background-color: white;
    background-position: 0% 20%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    min-height: 350px; 
}
‘
.main_logo {
    text-align: center;
    margin-top: -10px;
}

.carousel-inner { 
    margin-top: 100px;
    text-align: center; 
}

.tumblr_posts {   
    margin: 10px auto;
}
.tumblr_caption {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-bottom: solid 8px #f9f2e8;
}
.tumblr_photo {
    background-color: white;
    padding: 10px;
}
.tumblr_video_iframe {
    text-align: center;
    background-color: white;
    padding: 10px;

}
.tumblr_quote {
    background-color: white;
}
.tumblr_quote_post {
    background-color: white;
}
.tumblr_link_post {
    background-color: white;
}
.tumblr_description {
    background-color: white;

}
.tumblr_post {      
    text-align: center;
    color: black;
    padding: 10px;
    margin: auto;


}
.tumblr_title { 

}
.tumblr_body img {  
    text-align: center;

}
.tumblr_text_post {
    background-color: white;
    padding: 10px;
    margin: 20px;
    border-bottom: solid 6px #f9f2e8;
}
.read_more_container {
    
}
.read_more_container a {
    
}

ol.tumblr_posts{
    list-style: none;
    text-align: center;
}
.html_photoset {
    background-color: white;
    padding: 10px;
    margin: 10px;
}
.html5-video-container {
    background-color: white;
    padding: 10px;
    margin: 10px auto;
}
.embed_iframe {
    text-align: center;
    margin-right: auto;
    margin-left: auto;
}

.content {
    margin-top: 30px;
}

.one-edge-shadow {
}
.album_info {
    text-align: center;
    background-color: white;
    padding: 10px;
    color: #5075a6;
    font-weight:100;
}
#album_header {
    margin-top: 70px;
    margin-bottom: auto;
}
      
.main_logo {
    text-align: center;
}

#social li {
    list-style-type: none;
    text-align: center;
    padding: 5px;
    display: inline-block;
    margin: auto;


}
.social-wrapper {
    margin-top: 850px;
    float: bottom;
    width: 100%;
    text-align: center;
}

.social-button {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    text-align: center;
    padding-top: 8px;
    color: black;
    background-color: rgba(255,255,255, .8);
    border: solid rgba(255,255,255, .8) 2px;
    transition: all .2s ease-in-out;
}
.social-button:hover {
    color: black;
    background-color: white;
    border: solid white 2px;
    -webkit-box-shadow: 0 8px 6px -6px #000000;
       -moz-box-shadow: 0 8px 6px -6px #000000;
            box-shadow: 0 8px 6px -6px #000000;
}
.saudade {
    margin-top: 0px;
}
.single-text {
    margin-top: 80px;
    color: white;
    font-size: 30px; 


}
.single-banner {
    width: 100%;
    padding: 20px;
    text-align: center;
    margin-bottom: 30px;
    margin-top: -10px;
    background-color: white;
    -webkit-box-shadow: 
        0px 3px 11px -1px rgba(0,0,0,0.3),
        0px -3px 11px -1px rgba(0,0,0,0.3);
    -moz-box-shadow: 
        0px 3px 11px -1px rgba(0,0,0,0.3),
        0px -3px 11px -1px rgba(0,0,0,0.3);
    box-shadow: 
        0px 3px 11px -1px rgba(0,0,0,0.3),
        0px -3px 11px -1px rgba(0,0,0,0.3);

}
.single-video {
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: transparent;
    text-align: center;

}
.merch {
    text-align: center;
    background-color: white;
}
.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
}
.videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.promo-photo {
    margin-top: 100px;
    margin-bottom: 60px;
}
.promo-photo img {
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -webkit-box-shadow: 0 8px 6px -6px #919191;
       -moz-box-shadow: 0 8px 6px -6px #919191;
            box-shadow: 0 8px 6px -6px #919191;
}
body {
    text-align: center;
}

@media (max-width: 1400px) {
     #main-jumbo {
        background-color: white;
        width: 100%;
        height: 1000px;
        margin-bottom: 0px;
    }
    #social {
        margin-right: 45px;
        margin-bottom: -10px;
        margin-top: -340px;
    }
}
@media (max-width: 1400px) {
     .main-banner {
        height: 1300px;
        width: 100%;
        text-align: center;
    }
    #main-jumbo {
        background-image: url("../img/bostonManorPromo.jpg");
        height: 600px;
    }
}

@media (max-width: 769px) {
    .social-wrapper {
        margin-top: 400px;
    }

     #social {
        margin-right: 45px;
        margin-top: 0px;
    }
      #main-jumbo {
        background-image: url("../img/bostonManorPromo.jpg");
        height: 500px;
        width: 100%;
        margin-bottom: 0px;
    }
    .main-banner {
        height: 1000px;
        width: 100%;
        text-align: center;
    }
     .album {
        max-width: 400px;
        margin: 0px auto;
     }
      .album-promo {
        text-align: center;
    }
    .main-banner {
        text-align: center;
        padding: 20px;
    }
    .saudade {
        max-width: 300px;
    }
    .new-album {
        font-size: 30px;
    }
}
@media (max-width: 414px) {
    .album-title {
        font-size: 40px;
    }

    .social-wrapper {
        margin-top: 200px;
    }
    #social {
        margin-right: 45px;
        margin-bottom: -10px;

    }
     .main-banner {
        height: 1000px;
        width: 100%;
        padding: 20px;
        text-align: center;
    }
     #main-jumbo {
        height: 200px;
        width: 100%;

    }
    .album {
        max-width: 300px;
        margin: 0px auto;
    }

    .button {
        width: 250px;
        height: 50px;
        padding: auto;
        font-size: 20px;
    }
    .spotify-button {
        text-align: center;
        width: 250px;
        padding: 0 auto;
        padding-right: 120px;
    }

    .spotify-button img {
        margin-left: -20px;
    }

    .button:hover {
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .button-wrapper {
        margin-top: 50px;
    }
    .on-tour {
        font-size: 60px;
        margin-top: 50px;
    }
    .html5-video-container {
        max-width: 300px;
    }
    .video-slider2 iframe {
        max-width: 290px;
        max-height: 163px;
    }
    #myCarousel {
        max-width: 290px;
        max-height: 163px;

    }
    .tumblr_photo_post img {
        text-align: center;
        max-width: 210px;
    }
    #main-jumbo {
        height: 300px;
    }
}
@media (max-width: 375px) {

    #social {
        margin-right: 45px;
    }
    .html5-video-container {
        max-width: 300px;
    }
    .video-slider2 iframe {
        max-width: 290px;
        max-height: 163px;
    }
    #myCarousel {
        max-width: 290px;
        max-height: 163px;

    }
    .tumblr_photo_post img {
        text-align: center;
        max-width: 210px;
    }
    .social-button {
        height: 33px;
        width: 33px;
        font-size: 12px;
        padding-top: 6px;
    }
    .social-wrapper {
        margin-top: 230px;
        width: 100%;
        text-align: center;
    }
    .tumblr_post div {      
        max-width: 300px;
    }
    .colour-blind {
        max-width: 200px;
    }
    .album-promo {
        margin-top: 40px;
        text-align: center;
    }
    .album {
        max-width: 200px;
    }
    .main-banner {
        height: 800px;
        width: 100%;
        padding: 20px;
        text-align: center;
    }
    .button {
        width: 250px;
        height: 50px;
        padding: auto;
        font-size: 20px;
    }
    .button:hover {
        margin-right: 0px;
        margin-left: 0px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    .button-wrapper {
        margin-top: 50px;
    }
    .on-tour {
        font-size: 40px;
        margin-top: 50px;
    }
    .glyphicon-globe {
        font-size: 14px;
    }
    .new-album {
        font-size: 20px;
    }
    .saudade {
        max-width: 240px;
        margin-top: 20px;

    }
}
@media (max-width: 320px) {
     #main-jumbo {
        background-image: url("../img/bostonManorPromo.jpg");
        height: 250px;
    }
    #social {
        margin-right: 30px;
    }
    .social-wrapper {
        margin-top: 200px;
    }
     .social-button {
        height: 30px;
        width: 30px;
        font-size: 12px;
        padding-top: 4px;
    }
    .album-promo {
        margin-right: -20px;
        text-align: center;
    }
    .album {
        
    }
}